@font-face {
  font-family: "PT Sans";
  font-weight:700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #333333;
    background-color: #F2F2F2;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

body {
  width: 1200px;
  margin: 0px auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 4px;
}

.more-info {
  display: block;
  padding: 8px 32px;
  border-radius: 4px;
  min-width: 160px;
}

.more-info:hover,
.search-button:hover,
.btn-more:hover {
  background-color: #615048;
}

.more-info:focus,
.search-button:focus,
.subscribe-inut:focus,
.social:focus,
.telephone:focus,
.footer-link:focus,
.btn-more:focus {
  outline: 3px solid #83b3d3;
}

.more-info:active,
.search-button:active,
.btn-favorite:active,
.btn-more:active {
  outline: none;
  border: none;
  background-color: #615048;
  color: rgba(255,255,255,.3)
}

.search-button {
  font-size: 20px;
  width: 575px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.welcome {
  background-image: url("../images/welcome-background.png");
  background-color: #83B3D3;
  min-height: 485px;
  display: flex;
  padding-top: 51px;
  padding-bottom: 80px;
  justify-content: center;
  position: relative;
}

.main-header {
  background-color: #ffffff;
}

.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 0 72px;
  min-height: 65px;
  gap: 30px;
}

.logo {
  margin-bottom: -10px;
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  flex-wrap: wrap;
  margin: 0;
}

.navigation-item {
  display: flex;
  align-items: center;
}

.navigation-link{
  color: #000000;
  text-decoration: none;
  padding: 17px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  outline: none;
  color: #756257;
  opacity: 0.3
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  max-width: 322px;
  justify-content: flex-end;
}

.navigation-user-item .search,
.navigation-user-item .favorites {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search svg,
.favorites svg {
  fill: #000000;
}

.search:hover svg,
.favorites:hover svg {
  fill: #756257;
}

.search:active svg,
.favorites:active svg {
  opacity: 0.3;
}

.icon-counter {
  position: absolute;
  top: 3px;
  right: -3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-user-item-btn {
  margin-left: 20px;
}

.item-active {
  position: relative;
}

.item-active::after {
  content:'';
  position: absolute;
  height: 2px;
  bottom: 0;
  background-color:#756257;
  right: 17px;
  left: 17px;
}

.advantages {
  text-align: center;
  padding-top: 65px;
}

.welcome::after {
  content:'';
  position: absolute;
  bottom: -35px;
  background-image: url(../images/divider.svg);
  width: 100%;
  height: 60px;
  display: block;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  order: -1;
  margin: 0;
}

.description-block {
  padding: 60px;
  display: grid;
  align-content: start;
  gap: 26px;
  padding-top: 98px;
  min-height: 384px;
  position: relative;
}

.description-block::before {
  content: "— №" counter(advantages) " —"
}

.subitem-description-wrapper {
  padding-top: 125px;
  padding-bottom: 28px;
}

.subitem-description {
  margin: 0;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.list-number {
  display: block;
  margin-bottom: 30px;
}

.advantages-description {
  line-height: 21px;
  margin: 0;
  padding-top: 8px;
}


.advantages-list .light {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-column: 1/-1;
  background-color: #83B3D3;
  color: #ffffff;
  padding: 0;
}

.light .advantages-title {
  color: #ffffff;
}

.advantages-img {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.advantages-item.light:nth-child(2) .advantages-img {
  order: -1;
}

.advantages-list-inner {
  display: grid;
  grid-template-columns: repeat(3, minmax( 400px, 1fr));
  grid-column: 1/-1;
  background-color: #ffffff;
  color: #333333;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  margin:0;
  padding:0;
  list-style-type: none;
  counter-reset: advantages;
}

.advantages-item {
  background-color:rgba(131, 179, 211, 0.12);
  counter-increment: advantages;
  min-height: 384px;
}

.advantages-item:nth-child(even):not(.advantages-list .light) {
  background-color:  rgba(131, 179, 211, 0.2)
}

.advantages-subitem {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 60px;
  min-height: 384px;
  background-repeat: no-repeat;
  background-position: 50% 90px;
}

.advantages-subitem:nth-child(1) {
  background-image: url(../images/Home.svg);
}

.advantages-subitem:nth-child(2) {
  background-image: url(../images/food.svg);
}

.advantages-subitem:nth-child(3) {
  background-image: url(../images/gift.svg);
}

.advantages-subitem .subitem-title {
  color:#000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-subitem:nth-child(even) {
  background-color: #ffffff;
}

.search-section {
  text-align: center;
  padding-top: 93px;
  min-height: 417px;
  padding-bottom: 50px;
}

.section-title,
.search-title {
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 60%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.search-title {
  margin-bottom: 20px;
}

.section-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
}

.subscribe {
  color: #ffffff;
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  background-color: #83b3d3;
  text-align: center;
  padding: 95px 200px;
}


.telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.telephone:hover {
  color: #756257;
}

.telephone:focus {
  outline: 3px solid #83B3D3;
}

.telephone:active {
  opacity: .3;
}

.subscribe-btn {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 10px 22px;
}

.form-submit {
  padding: 14px 32px;
  margin-bottom: 25px;
}

.subscribe-btn:hover,
.form-submit:hover,
.btn-favorite:hover:not(.favorite),
.pagination-item:hover:not(.pagination-current) a {
  background-color: #68A2CA;
}

.form-submit:focus {
  outline: 3px solid #ffffff;
}

.form-submit:active {
  outline: none;
  color: rgba(255,255,255,0.3)
}

.subscribe-btn:focus {
  outline: 3px solid #756257;
}

.subscribe-btn:active {
  outline: none;
  color: rgba(255,255,255,.3);
}

/* catalog-buttons */

.btn-secondary {
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  text-decoration: none;
}

.btn-reset {
  background-color: transparent;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
}

.btn-reset:hover {
  color: rgba(255,255,255,0.6);
}

.btn-reset:focus {
  border: none;
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}

.btn-reset:active {
  color: rgba(255,255,255,0.3);
}

.pagination {
  text-align: center;
}

.select-label {
  padding: 0;
  margin: 0;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding: 10px 18px;
  padding-right: 0;
  color: #333333;
  text-align: start;
  cursor: default;
  user-select: none;
}

.select-button::after {
  content: '';
  background-image: url('../images/breadcrumb-arrow.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.select-button[open]::after {
  transform: rotate(180deg);
}

.select-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  border-radius: 4px;
  padding: 10px 0;
  text-align: start;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0, 20%);
}

.select-item-active {
  background-color: #E6E6E6;
}

.select {
  min-width: 160px;
  position: relative;
  z-index: 1;
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.pagination-link {
  background-color: #83b3d3;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  min-width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.pagination-current a {
  background-color: #f2f2f2;
  color: #000000;
}

/* Обертка для блока с фильтрами */
.hotels-wrapper {
  background-image: url("../images/catalog/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  min-height: 408px;
}

/* Заголовок в фильтре и оформление legend */

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0px;
}

.catalog {
  padding: 0 72px;
}

.hotels-result {
  display: grid;
  grid-template-columns: repeat(3, minmax(340px, 1fr));
  gap: 10px 18px;
  margin-bottom: 30px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  line-height: 26px;
  margin-bottom: 10px;
}

.control-label {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #ffffff;
  top: 2px;
}

input[type="radio"]:active + .control-mark,
input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255,255,255,0.3)
}

input[type="radio"] + .control-mark {
  border-radius: 50%;
}

input[type="checkbox"] + .control-mark {
  border-radius: 4px;
}

.control:hover .control-mark{
  background-color: rgba(255,255,255,0.6);
}

input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

input[type="checkbox"]:checked + .control-mark::after {
  content:'';
  width: 12px;
  height: 10px;
  background-image: url("../images/svg/Vector.svg");
  top: 5px;
  left: 4px;
  position: absolute;
}

.sort-type-title {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

/* Стилизация варианта выбора отелей */

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.select-button:hover,
.select-button:focus,
.view-item:hover:not(.view-item-active) a,
.view-link:focus:not(.view-item-active .active-view) {
  border: 2px solid #83B3D3;
}

.select-button:active {
  outline: none;
  color: rgba(0,0,0,0.3)
}

.select-button:active::after {
  opacity: 0.3;
}

.select-control-active {
  display: grid;
  grid-template-columns: 1fr 50px;
}

.range-title {
  font-size: 18px;
  color: #ffffff;
  opacity: .3;
  position: absolute;
  right: 15px;
  top: 10px;
}

.range-slider {
  grid-column: 1/-1;
  margin-top: 30px;
  height: 4px;
  background-color: rgba(255,255,255,0.3);
  position: relative;
}

.slider-bar {
  position: absolute;
  top: 0;
  height: 4px;
  background-color: #ffffff;
  width: 237px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  top: -8px;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}


.range-toggle:focus {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.catalog-filter-input {
  background-color: transparent;
  font-family: inherit;
  color: #ffffff;
  font-size: 18px;
  border: 2px solid #ffffff;
  padding: 10px 0 10px 15px;
  font-weight: 400;
  appearance: none;
  -webkit-appearance: none;
}

.catalog-filter-input:focus {
  outline: 3px solid #68A2CA
}

.catalog-filter-input:active {
  background-color: #756257;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input:hover {
  border: 2px solid rgba(255,255,255,0.6)
}

.catalog-filter-label:nth-of-type(1) .catalog-filter-input {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:nth-of-type(2) .catalog-filter-input {
  border-radius:0 4px 4px 0;
}

.select-option {
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 8px 20px;
}

.select-item:hover:not(.select-item-active) .select-option {
  background-color: #f2f2f2;
}

.select-control[open] .select-button::after {
  transform: rotate(180deg);
}

/* Кнопка "В избранном" */

.favorite {
  background-color: #7DB54F;
}

.favorite:hover {
  background-color: #6C9E42;
}

.more-btn {
  background-color: #83b3d3;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  width: 620px;
  padding: 17px 0;
  letter-spacing: -2px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin:0;
  margin-bottom: 28px;
  padding:0;
}

.subscribe-input {
  background-color:#f2f2f2;
  font-size: 18px;
  font-family: inherit;
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
  padding: 17px;
  outline: none;
  border: none;
}

.subscribe-input:hover {
  background-color: #e6e6e6;
}

.subscribe-input:focus {
  outline: 3px solid #83b3d3;
}

.subscribe-input:invalid {
  outline: 2px solid #FF5757;
}

.subscribe-description {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.subscribe-none-bg {
  background-image: none;
  background-color: #ffffff;
  padding-top: 75px;
  margin-bottom: 45px;
}

.subscribe-none-bg .subscribe-title {
  color: #000000;
  margin-bottom: 45px;
}

.subscribe-none-bg .subscribe-description {
  color: #333333;
  margin-bottom: 50px;
}

/* стилизация карточек */

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 0;
  grid-area: title;
}

.card-description {
  font-size: inherit;
  color: #333333;
  display: grid;
  grid-area: descr;
  grid-template-columns: 1fr 1fr;
  margin:0;
  padding: 0;
}

.card-description-price {
  justify-self: start;
  column-gap: 25px;
  justify-self: start;
  margin-left: 10px;
}

.card-rate {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.star {
  background-image: url('../images/star.svg');
  margin: 0;
  min-height: 37px;
  background-position: 0 50%;
  background-size: 23px 17px;
  background-repeat: repeat-x;
}

.star-four {
  width: 92px;
}

.star-three {
  width: 69px;
}

.star-two {
  width: 46px;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 0 72px;
  gap: 30px;
  min-height: 120px;
  align-items: center;
}

.link-section {
  justify-self: end;
}

.footer-link svg{
  fill: #000000;
}

.footer-link:hover svg{
  fill: #756257;
}

.footer-link:focus {
  outline: 3px solid #83B3D3;
}

.footer-link:active {
  opacity: .3;
}

.social-list .social {
  display: block;
}

.social svg {
  place-content:center;
  fill: #83b3d3
}

.social:hover svg {
  fill: #68A2CA;
}

.social-item {
  display: flex;
  align-items: center;
}

.social svg {
  fill:#83B3D3;
}

.social:hover svg {
  fill: #68A2CA;
}

.social:focus {
  outline: 3px solid #83B3D3
}

.social:active {
  opacity: .3;
}

.social-list {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  gap: 25px;
}

.no-grass {
  padding: 0;
  list-style-type: none;
}

.hotels-wrapper {
  padding: 35px 72px 80px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.hotel-filter-list {
  padding: 0;
  margin: 0;
}

.hotel-choose {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 200px 1fr 223px;
  justify-content: space-between;
  gap: 17px;
}

.catalog-filter-price .range{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 100%;
  height: auto;
}

.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 26px 1fr;
  grid-template-rows: 206px;
  grid-template-areas: "img img img"
                        "title title title"
                        "descr descr descr"
                        "more . favorite"
                        "star rate rate";
  gap: 16px;
}

.hotel-card-img {
  object-fit:cover;
  width: 100%;
  height: 100%;

}

.hotel-card-link:hover {
  opacity: .6;
}

.hotel-card-link:focus {
  outline: 3px solid #83b3d3;
}

.hotel-card-img:focus {
  outline: 3px solid red;
}

.hotel-card-link:active {
  opacity: .3;
}

.hotel-card-link {
  display: block;
  grid-area: img;
}

.card-button-wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.card-button-wrapper .button {
  padding: 10px 22px;
}

.card-button-wrapper .btn-more {
  grid-area: more;
}

.card-button-wrapper .btn-favorite{
  grid-area: favorite;
}

.button-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card .star {
  grid-area: star;
  margin: 0;
}

.hotel-card .card-rate {
  grid-area: rate;
  padding: 8px 0;
  justify-content: center;
  display: grid;
  margin: 0;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  padding: 6px;
}

.breadcrumbs-link svg {
  fill: #ffffff;
}

.breadcrumbs-item {
  margin-right: 15px;
  position: relative;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-item::after {
  content: '';
  width: 5px;
  height: 8px;
  right: -10px;
  bottom: 8px;
  position: absolute;
  background-image: url('../images/right-arrow.svg');
  opacity: .3;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.filter-wrapper {
  display: grid;
  grid-template-columns: 1fr 290px max-content;
  gap: 80px;
  padding: 44px 0 53px;
  align-items: center;
}

.view {
  display: flex;
  max-width: 223px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.view-item:not(:last-child) {
  margin-right: 8px;
}

.view-link {
  width: 48px;
  height: 48px;
  display: flex;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.active-view {
  border-color: #000000;
}

.catalog-filter-group.catalog-filter-price {
  width: 287px;
  margin-left: 95px;
  display: grid;
  align-items: end;
  padding-bottom: 10px;
}

.catalog-filter-label {
  display: grid;
  grid-template-columns: 1fr 44px;
  position: relative;
}

.range-title {
 grid-column: -1 / -2;
 grid-row: 1/2;
}

.catalog-filter-input {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 160px;
  justify-content: flex-end;
}

.catalog-filter-group {
  width: 200px;
  margin-right: 17px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group .hotel-filter-list li {
  margin-top: 15px;
}

.result-title {
  margin: 0;
}

.pagination-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.pagination-item {
  margin: 0 4px;
}

.pagination-link:focus,
.btn-favorite:focus {
  outline: 3px solid #756257;
}

.pagination-link:active:not(.pagination-current a) {
  outline: none;
  color: rgba(255,255,255,.3)
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.pagination-select {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Modal */

.modal-background {
  background-color: rgba(242,242,242,0.8);
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  place-content: center;
  display: flex;
  display: none;
}

.modal-container {
  width: 715px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 70px;
  padding-top: 54px;
  margin: auto;
  row-gap: 54px;
}

.modal-btn-close {
  width: 54px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
  grid-column: 1/-1;
}

.search-form-date {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px;
  row-gap: 4px;
  column-gap: 15px;
  grid-column: 1/-1;
}

.field-title {
  display: flex;
  align-items: center;
}

.message {
  grid-column: 2/3;
}

.amount-wrapper {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px;
  row-gap: 4px;
  column-gap: 15px;
}

.amount-btn-wrapper {
  min-width: 133px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  position: relative;
}

.field-input {
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.date-in,
.date-out {
  background-color: #F2F2F2;
  border: none;
  padding-left: 20px;
  border-radius: 4px;
}

.btn-minus {
  grid-column: 1/2;
}

.btn-plus {
  grid-column: -2/-1;
}

.btn {
  position: relative;
  z-index: 1;
  grid-row: 1/2;
  display: grid;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.children-title {
  display: flex;
  justify-content: flex-end;
}

.btn-minus {
  background-image: url("../images/svg/minus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-plus {
  background-image: url("../images/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-btn-submit {
  grid-column: 1/-1;
  border: none;
  border-radius: 10px;
  background-color: #83B3D3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.field-info {
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  border-radius: 50%;
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
  background-image: url("../images/svg/info-2.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.info-text {
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  z-index: 1;
  background-color: #333333;
  font-size: 16px;
  color: #ffffff;
  width: 256px;
  border-radius: 10px;
  padding: 15px 20px 23px;
  display: none;
  font-weight: 400;
}

.field-info:hover .info-text {
  display: block;
}

.info-text::before {
  content:'';
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  width: 20px;
  height: 10px;
  background-image: url("../images/svg/triangle-info.svg");
}

.field-title-span {
  align-self: center;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}
